.bg-purple{
  background-color: #5b21b6;
}

.text-purple{
  color: #5b21b6;
}


.bg-red{
  background-color: #eb0056;
}

body,html{
  overflow-x: hidden;
  font-family: "Montserrat" !important;
}

.slogan{
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  line-height: 1.7;
  padding: 0.15rem 0.5rem;
}